{% extends "base.html" %}

{% block title %}Add New Pet{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<section class="messages">
  {% for category,msg in messages %}
  <p class="{{category}}">{{msg}}</p>
  {% endfor%}
</section>
{% endif %}
{% endwith %}

<div class='container'>
    <h2 class="display-2 text-center">New Pet</h1>
    <div class="row justify-content-center">
        <div class='col-md-8'>
            
            <form  method="POST">
                {{form.hidden_tag()}}
                {%for field in form if field.widget.input_type!='hidden'%}
                <div class='form-group'>
                        {{field.label}}
                        {{field(class_="form-control")}}

                        {%for err in field.errors%}
                        <small>{{err}}</small>
                        {%endfor%}
                </div>
                {%endfor%}
                <button class='btn btn-success btn-lg'>Submit</button>
                <a href='/' class="btn btn-danger btn-lg">Go Back</a>
            </form>
        </div>
    </div>
</div>  


{% endblock %}